server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/ubuntu/terraform/ishan/django_app/;
    }

    location / {
        include         uwsgi_params;
        uwsgi_pass      unix:/run/uwsgi/django_app.sock;
    }
}
