development:
  secret_key_base: {{ app_secrets.get('dev', 'default') }}

test:
  secret_key_base: {{ app_secrets.get('test', 'default') }}

production:
  secret_key_base: {{ app_secrets.get('prod', 'default') }}